<div id="middle-component-main">
  <div id="middle-com-c1">
    <ul id="side-nav">
      <li>
        <a href="#!/main"><i class="fas fa-home"></i> Home</a>
      </li>
      <li><i class="fas fa-cog"></i> Settings</li>
      <li><i class="fas fa-exclamation"></i> Help</li>
      <li><i class="fab fa-servicestack"></i> Services</li>
      <li><i class="fas fa-user-alt"></i> Accounts</li>
    </ul>
  </div>

  <div id="middle-com-c2">
    <div id="image-holder">
      <div class="image-hold">
        <img
          src="../images/rbi logos/The-RBI-Museum_New_AP.png"
          alt=""
          width="100%"
          height="100%"
        />
      </div>
      <div class="image-hold">
        <img
          src="../images/rbi logos/Banking-Ombudsman-RBI-India.png"
          width="100%"
          height="100%"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
